.page-header {
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  background-color: #666;
  color: #fff;

  * {
    display: inline-block;
    vertical-align: top;
  }

  h1 a { padding-right: 8px; }
  nav a { padding: 0 8px; }

  footer {
    float: right;

    .page-copy {
      font-size: 10px;
    }
  }
}

