doctype html
html
  head
    title CARCH
    style
      | html, body {
      |   margin: 0;
      |   padding: 0;
      |   overflow: hidden;
      | }
  body
    canvas#carch
    script(src='carch.js')
