@require '/common/reset'

@require '/layout/page-header'

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#fps {
  font-size: 12px;
  font-style: italic;
}

.page-copy {
  margin-left: 8px
}

main {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
}
