html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 16px Helvetica;
}

a {
  color: inherit;
}

aside {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100px;
  padding: 8px 0;
  background-color: black;
  color: white;
  text-align: center;
  opacity: 0.5;
  transition: margin-right 0.2s;

  &:hover { margin-right: -100px; }

  &:after {
    position: absolute;
    content: '>';
    left: 100%;
    top: 2px;
    width: 20px;
    height: 40px;
    line-height: 40px;
    background-color: black;
  }
}
