html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 16px Helvetica;
}

a {
  color: inherit;
}

main {
  height: 100%;
  margin-left: 120px;
}

aside {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  width: 120px;
  padding: 8px 0;
  background-color: #666;
  color: #fff;
  text-align: center;
  transition: margin-right 0.2s;

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    #fps { font-style: italic; }
    #copy {
      padding: 8px 0;
      font-size: 10px;
    }
  }
}
