@require '/common/reset'

@require '/layout/page-header'

@require '/page/*'

html {
  background: #eee;
}

main {
  max-width: 960px;
  padding: 8px 16px;
  margin: 0 auto;
  background: #fff;

  h1, h2, p { margin: 12px 0; }

  ul, ol { padding-left: 24px; }

  a {
    color: #888;
    text-decoration: underline;

    &:hover { color: #000; }
  }
}
