.p-about {
  main {
    h1 {
      position: relative;
      overflow: hidden;
      padding-left: 100%;
      width: 0;
      height: 37px;

      &:before {
        position: absolute;
        left: 0;
        content: 'About'
      }
    }
  }
}
